# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc

# IDE and test cache
.cursor/*
.vscode/*
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Data
data/*

# experiments
experiments/*/*/*/outputs/

# github source
*-main/
